<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="pull-right">
        <div class="col-xs-12">
          <button class="btn btn-success">Delete</button>
        </div>
      </div>
      <div class="pull-right">
        <div class="col-xs-12">
          <button class="btn btn-success">Edit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>Email:</p>
        <p>Name:</p>
      </div>
    </div>
  </div>
</div>
