<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-contact-list
      ></app-contact-list>
    </div>
    <div class="col-md-6">
      <app-contact-detail
        [contact]="selectedContact"
        *ngIf="selectedContact; else originalTemplate"
      ></app-contact-detail>
      <ng-template #originalTemplate>
        <div class="panel panel-default">
          <div class="panel-heading" min-height="50px !important">
            <div class="row">
              <div class="col-xs-6">
                <div class="row">
                  <div class="pull-left">
                    <div class="col-xs-12">
                      <h3></h3>
                    </div>
                  </div>
                  <div class="pull-left">
                    <div class="col-xs-12">
                      <img alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="row">
                  <div class="pull-right">
                    <div class="col-xs-12">
                      <button class="btn btn-success">Delete</button>
                    </div>
                  </div>
                  <div class="pull-right">
                    <div class="col-xs-12">
                      <button class="btn btn-success">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <p>Email:</p>
                <p>Phone:</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
