<header>
  <!-- Intro settings -->
  <style>
    /* Default height for small devices */
    #intro-example {
      height: 300px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 300px;
      }
    }
  </style>

  <!-- Background image -->
  <div
    id="intro-example"
    class="p-5 text-center bg-image"
    style="background-image: url('#')"
  >
    <div class="mask" style="background-color: rgba(5, 38, 82, 0.7)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Tumoro</h1>
          <h5 class="mb-4">...for the sake of children</h5>
          <a
            class="btn btn-outline-light btn-lg m-2"
            routerLink="/register"
            role="button"
            rel="nofollow"
            >Become a Vilante</a
          >
          <a
            class="btn btn-outline-light btn-lg m-2"
            routerLink="/login"
            role="button"
            >Login and contribute</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
<!-- Search Bar-->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search..." />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Go</button>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <select class="form-control">
              <option value="">Help Station Type</option>
              <option value="category1">Law enforcement</option>
              <option value="category2">Non Governmental Organisation</option>
              <option value="category3">Health Centre</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <select class="form-control">
              <option value="">Choose country</option>
              <option value="location1">Nigeria</option>
              <option value="location2">Kenya</option>
              <option value="location3">Ukraine</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <select class="form-control">
              <option value="">Address</option>
              <option value="date1">Anike Alli</option>
              <option value="date2">Date 2</option>
              <option value="date3">Date 3</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img
          src="../../../assets/images/hospital.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">See your nearest hospitals</h5>
          <p class="card-text">
            enable location on your device for better experience.
          </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="../../../assets/images/police.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">See your nearest police help desk</h5>
          <p class="card-text">
            enable location on your device for better experience.
          </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="../../../assets/images/NGO.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Find your nearest CPN Officer</h5>
          <p class="card-text">
            enable location on your device for better experience.
          </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
